In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
root_path = '/content/drive/MyDrive/Probabilistic Modeling/'

# download noaa storm data
files = os.listdir(os.path.join(root_path, 'NOAA_STORM_DATA'))

df_list = []

for f in files:
  df_file = pd.read_csv(os.path.join(root_path, 'NOAA_STORM_DATA', f))
  df_list.append(df_file)

df_noaa = pd.concat(df_list)

df_noaa = df_noaa.dropna(subset=['STATE_FIPS'])
df_noaa.STATE_FIPS = df_noaa.STATE_FIPS.astype(int).astype(str).str.zfill(2) # 2 digit state number
df_noaa.CZ_FIPS = df_noaa.CZ_FIPS.astype(int).astype(str).str.zfill(3) # 3 digit county number

<ipython-input-3-3d2cfc01c05a>:9: DtypeWarning: Columns (26,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df_file = pd.read_csv(os.path.join(root_path, 'NOAA_STORM_DATA', f))
<ipython-input-3-3d2cfc01c05a>:9: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df_file = pd.read_csv(os.path.join(root_path, 'NOAA_STORM_DATA', f))
<ipython-input-3-3d2cfc01c05a>:9: DtypeWarning: Columns (26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df_file = pd.read_csv(os.path.join(root_path, 'NOAA_STORM_DATA', f))
<ipython-input-3-3d2cfc01c05a>:9: DtypeWarning: Columns (29,34,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df_file = pd.read_csv(os.path.join(root_path, 'NOAA_STORM_DATA', f))
<ipython-input-3-3d2cfc01c05a>:9: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df_file = pd.read_csv(os.path.join(root_path, 'NOAA_STORM_DATA', f))

In [ ]:
# download BRIC county data
bric_path = os.path.join(root_path, 'data/BRIC_County_Data/')
files = os.listdir(bric_path)

df_list_bric = []
for f in files:
  path = bric_path + f
  df_file = pd.read_csv(path, encoding='latin-1')

  yr = int(f[4:8])
  yr_name = 'TOT RESIL' + str(yr)
  df_file = df_file.rename(columns={yr_name: 'Resilience',
                                    'State Code (FIPS)': 'STATE_FIPS',
                                    'County Code (FIPS)': 'CZ_FIPS'})
  df_file['Year'] = yr

  df_file.STATE_FIPS = df_file.STATE_FIPS.astype(int).astype(str).str.zfill(2) # 2 digit state number
  df_file.CZ_FIPS = df_file.CZ_FIPS.astype(int).astype(str).str.zfill(3) # 3 digit county number

  df_list_bric.append(df_file)

df_bric = pd.concat(df_list_bric)
df_bric = df_bric.reset_index()

In [ ]:
# download SVI county data
df_list_svi = []
data_years = [2000, 2010, 2014, 2016, 2018, 2020, 2022]
svi_path = os.path.join(root_path, 'data/SVI_County_Data/')

for yr in data_years:
    # read data
    print(yr)
    svi_path = os.path.join(root_path, 'data/SVI_County_Data/')
    filename = os.path.join(svi_path, 'SVI_' + str(yr) + '_US_county.csv')
    df = pd.read_csv(filename)

    # clean data
    df = df.replace(-999., np.nan) # nan values are labelled -999
    if yr == 2000:
        df = df.rename(columns={'USTP': 'RPL_THEMES', 'STATE_NAME': 'STATE', 'STCOFIPS': 'FIPS'})
    if yr == 2010:
        df = df.rename(columns={'R_PL_THEMES': 'RPL_THEMES', 'STATE_NAME': 'STATE'})

    df.FIPS = df.FIPS.astype(int).astype(str).str.zfill(5)
    df['STATE_FIPS'] = df.FIPS.apply(lambda x: x[:2])
    df['CZ_FIPS'] = df.FIPS.apply(lambda x: x[2:])
    df['Year'] = yr
    df_list_svi.append(df)

df_svi = pd.concat(df_list_svi)
df_svi = df_svi.reset_index()

2000
2010
2014
2016
2018
2020
2022

In [ ]:
df_svi

,index,STATE_FIPS,CNTY_FIPS,FIPS,STATE,STATE_ABBR,COUNTY,G1V1R,G1V2R,G1V3R,...,EP_ASIAN,MP_ASIAN,EP_AIAN,MP_AIAN,EP_NHPI,MP_NHPI,EP_TWOMORE,MP_TWOMORE,EP_OTHERRACE,MP_OTHERRACE
0,0,01,1.0,01001,Alabama,AL,Autauga,0.1092,0.0310,18518.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,01,3.0,01003,Alabama,AL,Baldwin,0.1015,0.0255,20826.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,01,5.0,01005,Alabama,AL,Barbour,0.2680,0.0271,13316.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,01,7.0,01007,Alabama,AL,Bibb,0.2061,0.0329,14105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,01,9.0,01009,Alabama,AL,Blount,0.1174,0.0293,16325.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21992,3139,56,NaN,56037,Wyoming,NaN,Sweetwater County,NaN,NaN,NaN,...,0.7,0.3,0.9,0.3,0.1,0.1,2.2,0.8,0.9,0.7
21993,3140,56,NaN,56039,Wyoming,NaN,Teton County,NaN,NaN,NaN,...,1.3,0.5,0.1,0.2,0.1,0.1,2.3,1.0,0.7,0.7
21994,3141,56,NaN,56041,Wyoming,NaN,Uinta County,NaN,NaN,NaN,...,0.2,0.2,0.1,0.1,0.0,0.2,2.9,0.4,0.0,0.2
21995,3142,56,NaN,56043,Wyoming,NaN,Washakie County,NaN,NaN,NaN,...,0.4,0.4,0.3,0.4,0.0,0.5,3.2,0.7,0.3,0.3
21996,3143,56,NaN,56045,Wyoming,NaN,Weston County,NaN,NaN,NaN,...,0.2,0.4,1.5,1.2,0.7,1.2,8.3,3.5,0.1,0.2

In [ ]:
df_noaa.EVENT_TYPE.value_counts().head(10)

EVENT_TYPE
Thunderstorm Wind    542495
Hail                 409834
Flash Flood          104976
High Wind             91189
Winter Storm          87205
Winter Weather        78829
Tornado               78708
Drought               78242
Heavy Snow            73385
Flood                 67804
Name: count, dtype: int64

In [ ]:
df_noaa.BEGIN_YEARMONTH

0        195109
1        195106
2        195103
3        195105
4        195107
          ...
70191    202407
70192    202407
70193    202407
70194    202407
70195    202407
Name: BEGIN_YEARMONTH, Length: 1941071, dtype: int64

In [ ]:
df_svi.M_TOTPOP

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
21992    0.0
21993    0.0
21994    0.0
21995    0.0
21996    0.0
Name: M_TOTPOP, Length: 21997, dtype: float64

In [ ]:
df_bric.Year.value_counts()

Year
2020    3143
2015    3142
2010    3107
Name: count, dtype: int64